
  <script type="text/javascript">
    window.locations = [
      <% Declaration.all.each do |declaration| %>
        [<%= declaration.latitude %>, <%= declaration.longitude %>],
      <% end %>
    ]
  </script>

  <div class="list-countries">
    <h1>Smiley Happy Countries</h1>
    <div>
      <ol>
        <% @countries.each do |country| %>
            <li><%= country %></li>
        <% end %>
      </ol>
    </div>
  </div>


  <div id="earth_div"></div>
  <div id="nav">
        <div class="row">
          <%= link_to "I AM HAPPY", 'javascript:void(0)', id: 'create_declaration' %> <br>
          <input type="checkbox" name="email" value="Email"> I would like to share this web to my friends. Please provide email addresses: <br>
          <textarea rows="4" cols="100">http://happyearth.today/ is fun. </textarea>
       </div>
    <div>

    </div>
  </div>
